.chat-container {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  padding: 1rem 1rem;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  background-color: #4c4c50;

  .container {
    width: 100%;
    height:100%;
    background-color: #00000076;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "contacts chats";
  }
}

.container-fluid {
  margin: auto;
}

