.chat-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #131324;

  .container {
    height: 85vh;
    width: 85vw;
    background-color: #00000076;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "contacts chats";
  }

  // .grid-item-1 {
  //   grid-area: contacts;
  // }

  // .grid-item-2 {
  //   grid-area: chats;
  // }

  // .chats {
  //   width:100%;
  //   height:100%;
  //   display: grid;
  //   background-color: #00000076;
  //   grid-template-rows: 10% 80% 10%;
  //   gap:0.1rem;
  //   overflow: hidden;

  // }
}


