.grid {
  display: grid;
  background-color: #00000076;
  grid-template-rows: 1fr 8fr 1fr;
  gap:0.5rem;
  overflow: hidden;
  @media (max-width:576px) {
    padding: 0.2rem 0.8rem;
  }

  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
    .user-details {
      display: flex;
      align-items: center;
      gap: 1rem;
      .avatar {
        img {
          height: 2.5rem;
        }
      }
      .username {
        width: 30%;
        overflow: hidden;
        h3 {
          margin-top: 12%;
          font-size: 1.5rem;
          color: white;
        }
      }
      button {
        background: none;
        border: none;
        color: white;
        translate: translateY() 
      }
      @media (max-width:576px) {
        .avatar img {
          height:1.2rem;
        }
        .username {
          margin: auto;
        }
        .username h3 {
          font-size: 0.8rem;
        }
        gap:0.5rem;
      }
    }
  }
  .chat-input {
    padding: 0.2rem 0.5rem;
    width:100%;
    height:100%;
    background-color: transparent;
    @media (max-width:576px) {
      padding: 0.2rem 0.8rem;
    }
  }
  .chat-messages {
    padding: 0.2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0.2rem;
      &-thumb {
        background-color: #ffffff39;
        width: 0.1rem;
        border-radius: 1rem;
      }
    }
    .message {
      display: flex;
      align-items: center;
      .content {
        overflow-wrap: break-word;
        font-size: 1.3rem;
        border-radius: 1rem;
        color: #d1d1d1;
        align-self: center;
        margin-bottom: 0 !important;
        @media (max-width:576px) {
          font-size: 0.8rem;
        }
      
      }
    }
    .sended {
      justify-content: flex-end;
      .content {
        background-color: #4f04ff21;
      }
    }
    .recieved {
      justify-content: flex-start;
      .content {
        background-color: #9900ff20;
      }
    }
  }
}

@media (max-width:576px) {
  .chat-input {
    padding: 5px 20px;
    background-color: transparent;
    }
   
  }
 .grid-item-1 {
    grid-area: span 1;
  }

  .grid-item-2 {
    grid-area: span 7;
  }

  .grid-item-3 {
    grid-area: span 1;
  }