.grid {
  display: grid;
  background-color: #00000076;
  grid-template-rows: 1fr 8fr 1fr;
  gap:0.5rem;
  overflow: hidden;

  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
    .user-details {
      display: flex;
      align-items: center;
      gap: 1rem;
      .avatar {
        img {
          height: 3rem;
        }
      }
      .username {
        h3 {
          font-size: 2rem;
          color: white;
        }
      }
      button {
        background: none;
        border: none;
        color: white;
      }
    }
  }
  .chat-input {
    padding: 1rem 2rem;
    background-color: transparent;
  }
  .chat-messages {
   
    padding: 0.2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0.2rem;
      &-thumb {
        background-color: #ffffff39;
        width: 0.1rem;
        border-radius: 1rem;
      }
    }
    .message {
      display: flex;
      align-items: center;
      .content {
        overflow-wrap: break-word;
        font-size: 1.3rem;
        border-radius: 1rem;
        color: #d1d1d1;
        align-self: center;
        margin-bottom: 0 !important;
      
      }
    }
    .sended {
      justify-content: flex-end;
      .content {
        background-color: #4f04ff21;
      }
    }
    .recieved {
      justify-content: flex-start;
      .content {
        background-color: #9900ff20;
      }
    }
  }
}


 .grid-item-1 {
    grid-area: span 1;
  }

  .grid-item-2 {
    grid-area: span 7;
  }

  .grid-item-3 {
    grid-area: span 1;
  }